html{
	margin: 0px;
	padding: 0px;
}
h1, h2, h3, h4, h5, h6{
	font-weight: 30px;
	color: red;
}
image{
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid #efefef;
	box-shadow: 2px 2px 2px 2px;
}
p{
	font-weight: bold;
}
